:root {
  --color-dept-security: #ff9128;
  --color-dept-design: #4a86ff;
  --color-dept-software: #fbeb5e;
  --color-dept-techno: #22ab4b;

  --color-maintext: #333333;
  --color-subtext: #888d98;
  --color-button-stroke: #18a0fb;

  /* --container-padding: calc(max(16px, 15.625vw)); */
  --container-width: 1320px;
}

body {
  font-family: "SUIT Variable", sans-serif;
}

img {
  display: block;
}

.banner {
  position: sticky;
  top: 0;
  z-index: 999999;

  height: 54px;
  width: 100%;
  min-width: var(--container-width);

  background: var(--color-button-stroke);
}

.banner__wrap {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner__txt {
  color: white;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.header {
  min-width: var(--container-width);
  width: 100%;

  background: white;
}

.header__wrap {
  display: flex;
  align-items: center;
  height: 100px;
}

.header__dept {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__dept-name {
  color: var(--color-dept);
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
}

.header__nav {
  margin-left: 75px;

  display: flex;
  align-items: center;
  gap: 75px;
}

.header__link {
  color: var(--color-maintext);
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
}

.header__backBtn {
  margin-left: auto;
  color: white !important;
  background: var(--color-dept) !important;
}

footer {
  min-width: var(--container-width);
  width: 100%;
  height: 360px;

  margin-top: 400px;

  background: var(--color-maintext);
}

.footer__wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-info__title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.project-info__people {
  margin-top: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}

.project-info__role {
  font-weight: 600;
}

.project-info__name {
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__links a {
  display: flex;

  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
}

.footer__links a img {
  display: block;
  width: 27px;
  height: 27px;

  margin-right: 15px;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
}

.button {
  border-radius: 6px;
  border: 1px solid var(--color-button-stroke);

  width: 130px;
  height: 40px;

  background: white;
  color: var(--color-button-stroke);

  font-weight: 500;
  font-size: 12px;
}

.button:disabled {
  color: var(--color-subtext);
  border-color: var(--color-subtext);
}
